nav {
  display: flex;
  justify-content: space-around;
  margin-top: 15px;
  font-family: sans-serif;
}

nav a{
  color: black;
  margin: 30px;
  font-size: 20px;
}

a.active {
  color: #dd3b66;
  margin: 30px;
}

nav a:hover{
  text-decoration: none;
  font-size: 1.3em;
  transition: all 100ms ease-in-out;
  color: purple;
  transform: scale(1);
}

.logo{
  margin: 0 auto;
  /* animation: anima infinite 20s linear; */
}

.imagen{
  width: 100%;
}

header{
  width: 50%;
  margin: auto;
}

.title{
  color: black;
  font-size: 30px;
  font-weight: 900;
}


div{
  border-image-repeat: stretch;
  border-image-slice: 100%;
  border-image-source: none;
  border-image-width: 1;
  background-color: rgb(255, 255, 255);

  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  color: gray;
}

form{
  width: 90%;
  text-align: left;
  padding: 50px;
  border: none;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-top-left-radius: 10px;
  -webkit-box-shadow: 2px 2px 13px -6px rgba(0,0,0,0.75);
  -moz-box-shadow: 2px 2px 13px -6px rgba(0,0,0,0.75);
  box-shadow: 2px 2px 13px -6px rgba(0,0,0,0.75);
}

form div p{
  text-align: left;
  margin-top: 10px;
  margin-bottom: 4px;
  color: black;
  font-weight: bold;
}

.container button{
  padding: 8px;
  background: #dd3b66;
  color: white;
  width: 150px;
  font-size: 19px;
  font-weight: bold;
  border-radius: 40px;
}

.float{
	position:fixed;
	width:100px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:white;
	color:gray;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
}

.float a{
  margin: auto;
  text-decoration: none;
  color: gray;
}

.float a:hover{
  text-decoration: none;
  color: gray;
}

.my-float{
  margin-top:22px;
  margin-left: 5px;
  margin-right: 5px;
}

.my-float2{
	margin-top:22px;
}

.float:hover {
  width: 100px;
}



@media (max-width: 375px){
  form{
    width: 100%;
    padding: 10px;   
  }

  .title{
    color: black;
    font-size: 18px;
    font-weight: 900;
  }

  .float{
    position:fixed;
    width:60px;
    height:60px;
    bottom:7px;
    right:20px;
    background-color:white;
    color:gray;
    border-radius:50px;
    text-align:center;
    box-shadow: 2px 2px 3px #999;
  }

}

@keyframes anima{
  0%{
      transform:scale(1)
    }

    50%{
        transform:scale(0.8)
    }

    100%{
        transform:scale(1)
    }
}
